---
title: Galerie prací
---
<main>
  <div class="work-gallery">
    <a href="#">
      <img src="http://lorempixel.com/215/270/">
      <div class="mask">
      <h4>Foo</h4>
      <p>Blablabalbalbalbalbalba</p>
      </div>
    </a>
    <a href="#">
      <img src="http://lorempixel.com/215/270/">
      <div class="mask"></div>
    </a>
    <a href="#">
      <img src="http://lorempixel.com/215/270/">
      <div class="mask"></div>
    </a>
    <a href="#">
      <img src="http://lorempixel.com/215/270/">
      <div class="mask"></div>
    </a>
    <a href="#">
      <img src="http://lorempixel.com/215/270/">
      <div class="mask"></div>
    </a>
  </div>
</main>